.about{
    padding-bottom: 5rem;
}
.about .row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }
  
 
  .about .row .content button:hover{
    letter-spacing: .2rem;
    opacity: .8;
  }

  /* Ask a Question css */
.askaqns input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .askaqns input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .askaqns #feedback{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .askaqns input[type=submit] {
    width: 100%;
    background-color: black;
    color: red;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  
  .askaqns input[type=submit]:hover {
    opacity: 0.9;
  }
  
  .askaqns {
    width: 70%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .border-story{
    border-radius: 0.25rem;
    border-color: grey;
    border-style: solid;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  :root {
    --black: #727478;
    --grey: #7f8184;
    --yellow: #edc932;
    --gradient: linear-gradient(45deg, #8b8acc, #bc8bcd);
  }
  
  .rating-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 3rem;
    border-radius: 40px;
    background: linear-gradient(-60deg, #ffffff90, #ffffffff);
    border: solid 5px transparent;
    background-clip: padding-box;
    box-shadow: 0 10px 10px rgba(46, 54, 68, .1);
  }
  .rating-box h1 {
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--black);
    text-transform: capitalize;
    text-align: center;
  }
  .rating-box p {
    font-size: 15px;
    color: var(--grey);
    margin-bottom: 40px;
    text-align: center;
  }
  .rating-box .stars {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .rating-box .stars div {
    color: var(--grey);
    font-size: 40px;
    cursor: pointer;
    transition: color .2s ease;
  }
  .rating-box .stars div.active {
    color: var(--yellow);
  }
