* {
    margin: 0;
    padding: 0;
  }
  
  body {
    zoom: 1.1;
    background-color: #bebebe;
  }
  
  .fcontainer {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 400px;
    margin: 50px auto;
    margin-top: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .field {
    border: 1px solid #525252;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
  }
  
  input:focus {
    outline: 3px;
    border-color: rgb(255, 0, 0);
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
  }
  
  .abtn {
    background-color: #ff0000 !important;
    color: #fff !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .abtn:hover {
    background-color: #d94e27!important;
  }
  
  .input-field {
    text-align: left;
  }
  
  
  
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    /* border-radius: 50%; */
    border: 2px solid #f06537;
    object-fit: cover;
  }
  
  /* Media queries */
  @media screen and (max-width: 480px) {
    .container {
      max-width: 100%;
      margin: 20px auto;
      padding: 10px;
    }
  
    img {
      width: 80px;
      height: 80px;
    }
  
  }